In [46]:
import pandas as pd
import numpy as np
import requests
import lxml.etree as etree
import datetime
import time

In [12]:
timer = 5

start = 1
count = 100
url_f = "http://localhost:5000/sample?from={}&count={}".format(start, count)
url_c = "http://localhost:5000/current"
print(url_f)

resp = requests.get(url_c)
root = etree.fromstring(resp.content)
pd.to_datetime(datetime.datetime.utcnow())

http://localhost:5000/sample?from=1&count=1000

Timestamp('2023-10-18 17:13:30.585739')

In [24]:
root[0].attrib

{'creationTime': '2023-10-18T17:13:30Z', 'sender': 'AcerSwiftX', 'instanceId': '1697649171', 'version': '1.7.0.2', 'bufferSize': '32768', 'nextSequence': '221', 'firstSequence': '1', 'lastSequence': '220'}

In [19]:
pd.to_datetime(root[0].attrib['creationTime'])

Timestamp('2023-10-18 17:13:30+0000', tz='UTC')

In [42]:
# Create an empty DataFrame with row indices starting from 10000
index_range = range(221)

# Create the DataFrame
df = pd.DataFrame(index=index_range, columns=['timestamp'])

for j in root[1]:
    for k in j:
        for l in k:
            for m in l:
                if m.attrib['sequence'] == '220': print(pd.to_datetime(m.attrib['timestamp']))

2023-10-18 17:13:30.459350+00:00

In [63]:
a = pd.to_datetime(datetime.datetime.utcnow())
b = 0
delta = 0
while (delta < 2) :
    b = pd.to_datetime(datetime.datetime.utcnow())
    delta = (b - a).seconds

print(delta, b, a)

2 2023-10-18 17:30:18.415404 2023-10-18 17:30:16.415139

In [86]:
timer = 2
url_c = "http://localhost:5000/current"

# Get current data and latest stream
resp = requests.get(url_c)
root1 = etree.fromstring(resp.content)

# Get current time
t = pd.to_datetime(datetime.datetime.utcnow())

time.sleep(timer)



start = root[0].attrib['nextSequence']
count = 1
url_f = "http://localhost:5000/sample?from={}&count={}".format(start, count)

start 6859
http://localhost:5000/sample?from=6859&count=1

In [110]:
df = pd.DataFrame(columns=['num'])

In [111]:
df.at[2, 'num'] = 2

In [112]:
df

  num
2   2

In [113]:
df

  num
2   2

In [114]:
df.at[3, 'num'] = 4

In [115]:
df.at[4, 'num2'] = 3

In [116]:
df

   num  num2
2    2   NaN
3    4   NaN
4  NaN   3.0

In [131]:
df.at[3, 'num']

4

In [128]:
df.loc[3:]

   num  num2
3    4   NaN
4  NaN   3.0

In [103]:
url_f = "http://localhost:5000/sample?from={}&count={}".format(10, 1)
resp = requests.get(url_f)
root = etree.fromstring(resp.content)

In [107]:
root[1][0][0][0][0].attrib['timestamp']

'2023-10-18T18:23:51.201447Z'

In [108]:
import keyboard

print("Press any key to continue...")

# Wait for a keypress
keyboard.read_event(suppress=True)  # This line blocks until a key is pressed

# Print something after a keypress
print("A key was pressed!")

Press any key to continue...
A key was pressed!